@font-face {
    font-family: Kanit;
    src: url(Kanit-Regular.ttf);
  }

:root{
    --bs-body-font-family: 'Kanit' , sans-serif;
}

body,html{

    padding: 0px;
    margin:0;
    width: 100%;

}

header{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 150;
}

.img-circle{
    border-radius: 100%;
    object-fit: cover;
    margin-right: 5px;
}

.wwd{
    position: relative;
    right: 15px;
}

main{
    width: 95%;
    margin: auto;
    margin-top: 110px;
    display: flex;
    position: relative;
}

.idp{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
}

.aboutme-middle{
    margin: auto;
    display: flex;

}

.ac{
    position: absolute;
    top: 190px;
    left: 50%;
    transform: translate(-50%,50%);
}

.dpam{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-icodiv{
    
    position: absolute;
    bottom: 0;
}

.icno-rae{
    display: flex;
    gap: 15px;
}

.card{
    overflow: hidden;
}


footer{
    background-color: #adb5bd;;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.contact-icodiv-rr{
    
    position: absolute;
    bottom: 0;
    transform: translateX(250%);
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: auto;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}
